<div class='container'>
	<div class="row row-cols-auto2-justify-content-center">
  	<div class='row'>
  		<div class="col-md-12">
			<h1 class="px-3 mx-auto">

   		<script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
				<lord-icon src="https://cdn.lordicon.com/ttioogfl.json"trigger="morph"
    			colors="primary:#121331,secondary:#ebe6ef,tertiary:#4bb3fd,quaternary:#92140c,quinary:#f9c9c0"
    				style="width:150px;height:150px">
						</lord-icon>
   					<strong>Bit Supporter</strong>とは</h1>
 			</div>
 		</div>
 	</div>

 <div class='row'>
 		<div class="col-md-12"></div>
 		<br>
 		<br>
	</div>

 <div class='row'>
 		<div class="col-md-12">
				<p>
				ようこそBit Supporter へ!<br>
				このサイトは、障害名をオープンにし、社会に向けての発信サイトになります。<br>
				会員でない方も内容は閲覧できますが、発信するには会員登録が必要になります。<br>
				</p>
		</div>
	</div>

