<div class="container">
  <div class="row row-cols-auto2-justify-content-center">
      <div class="col">
      <h1>
      <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
        <lord-icon src="https://cdn.lordicon.com/kjkiqtxg.json" trigger="hover"
          colors="outline:#121331,primary:#646e78,secondary:#4bb3fd,tertiary:#ebe6ef"
            style="width:150px;height:150px"></lord-icon>
            <br>
            <strong>Bit Supporter</strong></h1>
            <br>
				<p>
				ようこそBit Supporter へ!<br>
				このサイトは、障害名をオープンにし,<br>
				社会環境へ希望する事を言葉で発信するサイトです。<br>
				会員でない方も内容は閲覧できますが、発信するには会員登録が必要になります。<br><br>

				ページ右上にある「ゲストログイン」ボタンよりサイトをご覧頂けます。<br>
				会員登録後に、投稿やコメント機能をお使いになれます。<br>
				</p>
				</div>
				<br><br><br>
				<div class="btn-wrapper col-5 mx-auto">
        <div class="row">
          <div class="col">
              <br><br><br><br><br><br>
               <div><%= link_to 'ゲストログイン（閲覧用）', guests_guest_sign_in_path, class: "btn btn-primary  btn-sm btn-block mb-3 sign_in" , method: :post %></div><br>

               <div><%= link_to 'Log in',end_user_session_path, class: "btn btn-info btn-sm btn-block mb-3 sign_in" %></div><br>

               <div><%= link_to '新規会員登録',new_end_user_registration_path, class: "btn btn-success btn-sm btn-block sign_up" %></div><br>
          </div>
			</div>
    </div>
  </div>
</div>
<br><br><br><br><br><br><br><br>


