<div class="d-flex justify-content-center mb-4">
<% if @model == 'end_user' %>
	<h3>会員検索結果 "<%= @content %>"</h3>
  <%= render 'admin/end_users/index', end_users: @records %>
<% elsif @model == 'post' %>
	<h3>投稿検索結果 "<%= @content %>"</h3>
  <%= render 'admin/posts/index', posts: @records %>
<% end %>
</div>