<div class='container'>
  <div class='row'>
    <div class="col-md-12 col-md-8 ">

  <h2 class="section-ttl">管理者トップ</h2><br>
  <h4 class="admin_top-txt"><br>
  <P>このページはBit Supporterの管理者ページです。<br>
      投稿者の詳細情報と投稿の詳細情報の一覧画面を<br>
      ヘッダーのリンクよりご覧いただけます。<br></P>
  </h4>
    </div>
  </div>
</div>
